$first: #DC3522;
$second: #D9CB9E;
$mid: #374140;
$slast: #2A2C3B;
$last: #1E1E20;
$tablet-width: 768px;
$desktop-width: 1024px;
$share-width: 990px;
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lighten($second, 5);
}

div#app {
    width: 100%;
    min-height: 100vh;
    color: black;
    margin: 0;
}

div#top {
    background-color: $mid;
    width: 100%;
    display: flex;
    justify-content: center;
    div#header {
        background-color: $mid;
        width: 100%;
        height: 60px;
        padding: 0px 20px;
        justify-content: space-between;
        display: flex;
        div {
            height: 100%;
            display: flex;
            align-items: center;
        }
        a {
            color: lighten($second, 10);
            font-size: 1.2rem;
            text-decoration: none;
            height: 100%;
            padding: 0px 10px;
            display: flex;
            align-items: center;
        }
        div#authenticated {
            display: flex;
        }
    }
}

div#contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a {
        text-decoration: none;
        color: $slast;
    }
}

div#content {
    display: flex;
    justify-content: center;
}

div#allpins,
div#userpins,
div#mypins {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    .pin {
        background-color: white;
        width: 200px;
        margin: 3px;
        line-height: 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
        }
        p,
        a {
            margin: 0px;
            padding: 20px 10px;
        }
        a {
            padding: 15px 10px;
            font-size: 0.8rem;
            color: lighten($mid, 25);
            text-decoration: none;
            border-top: 1px solid lighten($mid, 50);
        }
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            min-height: 100%;
        }
        i {
            position: absolute;
            right: 10px;
            bottom: 8px;
            cursor: pointer;
        }
    }
}

div#addpin {
    display: flex;
    width: 100%;
    width: 100%;
    padding: 20px;
}

form {
    display: flex;
    width: 100%;
    div.input {
        width: 40%;
        margin: 5px;
        input {
            width: 100%;
            border-radius: 5px;
            padding: 8px;
            border: 1px solid darken(white, 30);
        }
    }
    div#add {
        width: 20%;
        margin: 5px;
        button {
            width: 100%;
            border-radius: 5px;
            padding: 8px;
            border: 1px solid lighten($mid, 10);
            background-color: $mid;
            color: white;
            cursor: pointer;
        }
    }
    @include mobile {
        flex-direction: column;
        div.input,
        div#add {
            width: 100%;
        }
    }
}

div#allpins,
div#userpins,
div#mypins,
div#header,
div#addpin {
    max-width: 1086px;
    @media (max-width: 1086px) {
        max-width: 880px;
    }
    @media (max-width: 880px) {
        max-width: 674px;
    }
    @media (max-width: 674px) {
        max-width: 468px;
    }
    @media (max-width: 468px) {
        max-width: 260px;
    }
}
